---
import Layout from "../layouts/Layout.astro";

const paths = [
  { label: 'AI未来診断', url: 'https://miratel.netlify.app/diagnosis/' },
];

---

<Layout
  title="ミラテル | AI未来診断"
  URL="https://miratel.netlify.app/diagnosis/"
  sns_img="/"
  ogptitle="ミラテル | AI未来診断"
  type="website"
  description="AIがあなたの未来に起こることを予測します。"
  paths={paths}
>

<div class="container">
  <div class="heroBox">
    <hgroup class="heroBox-titleBox">
      <h2 class="heroBox-title">AI未来診断</h2>
      <p class="heroBox-sub-title">AIがあなたの未来を診断します</p>
    </hgroup>
    <p class="heroBox-sub-text">たとえば...</p>
    <ul class="heroBox-list">
      <li class="heroBox-item">
        <p class="heroBox-target">学生</p>
        <svg width="40" height="40" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.9999 12.6425L25.4913 12.7969L5.1788 19.6024L0.560547 21.125L3.24992 21.9863V36.205C2.2798 36.7689 1.62492 37.7975 1.62492 39C1.62492 39.862 1.96733 40.6886 2.57682 41.2981C3.18632 41.9076 4.01297 42.25 4.87492 42.25C5.73688 42.25 6.56353 41.9076 7.17302 41.2981C7.78251 40.6886 8.12492 39.862 8.12492 39C8.12492 37.7975 7.47005 36.7689 6.49992 36.205V23.1075L9.74992 24.1719V32.5C9.74992 33.8325 10.5624 34.9375 11.5277 35.7013C12.4929 36.4601 13.6922 36.9964 15.1319 37.4774C18.0147 38.4361 21.8139 39 25.9999 39C30.1859 39 33.9852 38.4378 36.8679 37.4758C38.3077 36.9964 39.5069 36.4601 40.4722 35.6996C41.4374 34.9375 42.2499 33.8325 42.2499 32.5V24.1719L46.821 22.6476L51.4393 21.125L46.8194 19.6008L26.5069 12.7969L25.9999 12.6425ZM25.9999 16.0469L41.2343 21.125L25.9999 26.2031L10.7655 21.125L25.9999 16.0469ZM12.9999 25.2899L25.4929 29.4531L25.9999 29.6059L26.5085 29.4515L38.9999 25.2883V32.5C38.9999 32.5163 39.0064 32.7048 38.4913 33.1094C37.9778 33.5156 37.0564 34.0275 35.8507 34.4305C33.4424 35.2316 29.8918 35.75 25.9999 35.75C22.108 35.75 18.5574 35.2333 16.1475 34.4289C14.945 34.0275 14.022 33.514 13.5085 33.1094C12.9918 32.7031 12.9999 32.5163 12.9999 32.5V25.2899Z" fill="black"/>
        </svg>     
        <p class="heroBox-exText">
          <span class="heroBox-exText-elem">・未来視点での業界研究や企業研究</span>
          <span class="heroBox-exText-elem">・研究や論文のアイデア発想</span>
          <span class="heroBox-exText-elem">・未来視点での業界研究や企業研究</span>
        </p>
      </li>
      <li class="heroBox-item">
        <p class="heroBox-target">起業家・経営者</p>
        <svg width="40" height="40" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.8836 13L20.7659 37.0196C20.3586 38.9306 20.5817 39.6456 21.9857 41.0193L27.6624 46.5681C28.4121 47.3005 28.7847 47.6666 29.2506 47.6666C29.7164 47.6666 30.0891 47.3005 30.8387 46.5681L36.5154 41.0193C37.9194 39.6456 38.1426 38.9306 37.7352 37.0196L32.6176 13M22.8741 6.76865C22.7267 5.63331 22.6552 5.06565 22.9867 4.69948C23.3204 4.33331 23.9097 4.33331 25.0884 4.33331H33.4149C34.5914 4.33331 35.1807 4.33331 35.5144 4.70165C35.8459 5.06565 35.7744 5.63331 35.6271 6.76865L35.5187 7.62448C35.2089 10.0251 35.0551 11.2255 34.2837 12.0033C34.1566 12.1319 34.0208 12.2481 33.8764 12.3521C32.9859 13 31.7401 13 29.2506 13C26.7589 13 25.5152 13 24.6247 12.3521C24.4804 12.2479 24.3449 12.1319 24.2196 12.0055C23.4461 11.2255 23.2922 10.0251 22.9846 7.62448L22.8741 6.76865Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M21.6669 32.5C20.3495 34.0015 19.2359 34.6667 18.4169 34.6667C17.3682 34.6667 15.4789 32.0233 14.6404 30.1058C14.246 29.2088 14.0489 28.7582 14.0879 28.1905C14.1269 27.6207 14.3847 27.2068 14.9004 26.3748C17.8145 21.6732 22.7827 17.3767 26.0002 13" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>          
        <p class="heroBox-exText">
          <span class="heroBox-exText-elem">・未来視点での業界・市場のリサーチ</span>
          <span class="heroBox-exText-elem">・会社の未来</span>
          <span class="heroBox-exText-elem">・売上、利益予測</span>
        </p>
      </li>
      <li class="heroBox-item">
        <p class="heroBox-target">技術者</p>
        <svg width="40" height="40" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7501 4.33335C24.0067 4.33335 25.2417 4.45902 26.4312 4.70169C26.9944 4.81604 27.489 5.14942 27.8064 5.62848C28.1237 6.10754 28.2377 6.69304 28.1234 7.25619C28.009 7.81933 27.6757 8.31398 27.1966 8.63132C26.7175 8.94867 26.132 9.06271 25.5689 8.94835C22.84 8.39166 20.0072 8.6566 17.4288 9.70969C14.8505 10.7628 12.6422 12.5567 11.0833 14.8647C9.52441 17.1727 8.68484 19.8911 8.67074 22.6762C8.65665 25.4613 9.46867 28.1881 11.0041 30.5117C12.5396 32.8354 14.7296 34.6516 17.2972 35.7307C19.8647 36.8099 22.6947 37.1035 25.4291 36.5744C28.1635 36.0454 30.6797 34.7174 32.6595 32.7585C34.6393 30.7995 35.9938 28.2975 36.5517 25.5689C36.6083 25.29 36.7193 25.0251 36.8784 24.7891C37.0374 24.5532 37.2413 24.3508 37.4785 24.1937C37.7157 24.0366 37.9816 23.9277 38.2608 23.8733C38.5401 23.8189 38.8274 23.8201 39.1062 23.8767C39.3851 23.9333 39.65 24.0443 39.886 24.2033C40.1219 24.3623 40.3242 24.5663 40.4814 24.8035C40.6385 25.0407 40.7474 25.3065 40.8018 25.5858C40.8562 25.8651 40.855 26.1523 40.7984 26.4312C40.2707 29.0152 39.1941 31.4557 37.6416 33.5877L37.2147 34.151L45.1274 42.0637C45.5201 42.4527 45.7493 42.9771 45.768 43.5295C45.7868 44.082 45.5937 44.6207 45.2282 45.0354C44.8628 45.4502 44.3526 45.7095 43.8022 45.7605C43.2518 45.8114 42.7027 45.65 42.2674 45.3094L42.0637 45.1274L34.1511 37.2147C31.8445 39.0324 29.1367 40.2722 26.2536 40.8307C23.3705 41.3891 20.3956 41.2499 17.5772 40.4248C14.7588 39.5997 12.1785 38.1125 10.0517 36.0874C7.92496 34.0623 6.31331 31.5579 5.35125 28.7833C4.38918 26.0086 4.10461 23.0441 4.52126 20.1371C4.93792 17.2301 6.04372 14.4649 7.74641 12.0722C9.4491 9.67942 11.6993 7.72857 14.3093 6.38236C16.9193 5.03614 19.8133 4.3336 22.7501 4.33335ZM41.1667 2.16669C41.5721 2.16669 41.9693 2.28039 42.3132 2.49487C42.6572 2.70936 42.934 3.01603 43.1124 3.38002L43.2164 3.63352L43.4981 4.45252C43.7953 5.32392 44.2743 6.12222 44.9033 6.79456C45.5324 7.46691 46.297 7.99795 47.1467 8.35252L47.5476 8.50419L48.3666 8.78369C48.7721 8.92205 49.1276 9.17759 49.3879 9.51796C49.6483 9.85834 49.8018 10.2683 49.8292 10.6959C49.8566 11.1236 49.7565 11.5498 49.5417 11.9205C49.3268 12.2913 49.0069 12.5901 48.6222 12.779L48.3666 12.883L47.5476 13.1647C46.6762 13.462 45.8779 13.941 45.2055 14.57C44.5332 15.199 44.0021 15.9637 43.6476 16.8134L43.4959 17.2142L43.2164 18.0332C43.0778 18.4387 42.8221 18.7939 42.4815 19.054C42.141 19.3142 41.7311 19.4675 41.3034 19.4946C40.8758 19.5218 40.4497 19.4215 40.079 19.2065C39.7084 18.9915 39.4098 18.6714 39.2211 18.2867L39.1171 18.0332L38.8354 17.2142C38.5381 16.3428 38.0591 15.5445 37.4301 14.8721C36.8011 14.1998 36.0364 13.6688 35.1867 13.3142L34.7859 13.1625L33.9669 12.883C33.5613 12.7447 33.2059 12.4891 32.9455 12.1487C32.6852 11.8084 32.5316 11.3984 32.5042 10.9708C32.4769 10.5431 32.5769 10.1169 32.7918 9.74616C33.0066 9.37537 33.3266 9.07662 33.7112 8.88769L33.9669 8.78369L34.7859 8.50202C35.6573 8.20475 36.4556 7.72575 37.1279 7.09674C37.8003 6.46772 38.3313 5.70305 38.6859 4.85335L38.8376 4.45252L39.1171 3.63352C39.263 3.20579 39.5391 2.83442 39.9067 2.5714C40.2742 2.30837 40.7148 2.16687 41.1667 2.16669ZM41.1667 9.09135C40.6542 9.73637 40.0697 10.3208 39.4247 10.8334C40.0718 11.3461 40.6525 11.9268 41.1667 12.5754C41.6795 11.9282 42.2602 11.3476 42.9087 10.8334C42.2637 10.3208 41.6793 9.73637 41.1667 9.09135Z" fill="black"/>
        </svg>            
        <p class="heroBox-exText">
          <span class="heroBox-exText-elem">・新しい技術の早い段階からの習得</span>
          <span class="heroBox-exText-elem">・現状持っているスキルのこれから</span>
          <span class="heroBox-exText-elem">・新しい技術の早い段階からの習得</span>
        </p>
      </li>
    </ul>
    <button class="heroBox-btn">
      <p class="heroBox-btn-label">無料で未来診断</p>
      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.02148 8.479H13.0215M9.77148 11.979L13.2715 8.479L9.77148 4.979" stroke="white"/>
      </svg>        
    </button>
  </div>
</div>
</Layout>

<style lang="scss">
  .container{
    width: 100%;
    overflow-x: hidden;
  }

  .heroBox{
    width: 100%;
    // padding: 24px;
    // background-color: #252528;
    // border-radius: 16px;

    &-titleBox{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 16px;
      padding: 16px 24px;
      border-radius: 8px;
      background-color: #363636;

      @media screen and (max-width:440px) {
        padding: 8px 16px;
      }
    }
          
    &-title{
      font-size: 32px;
      font-weight: 600;
      color: #fff;
      letter-spacing: .05em;
    }
    &-sub-title{
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      letter-spacing: .1em;
    }

    &-sub-text{
      // width: 100%;
      position: relative;
      display: block;
      font-size: 12px;
      font-weight: 600;
      margin-top: 48px;
      margin-inline: auto;
      // flex-direction: column;
      justify-self: center;
      color: #252528;
      text-align: center;

      @media screen and (max-width:440px) {
        margin-top: 24px;
      }

      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 20px;
        background-color: #252528;
        rotate: -30deg;
      }
      &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 20px;
        background-color: #252528;
        rotate: 30deg;
      }
    }

    &-list{
      max-width: 950px;
      display: flex;
      justify-content: space-between;
      margin-inline: auto;
      gap: 16px;
      margin-top: 48px;

      @media screen and (max-width:834px) {
        width: 100%;
        flex-direction: column;
        gap: 16px;
        margin-top: 24px;
      }
    }

    &-item{
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 16px;

      @media screen and (max-width:834px) {
        width: 90%;
        max-width: 360px;
        margin-inline: auto;
        padding: 16px;
        // background-color: #d6d6de;
        border: 1px solid #252528;
      }

		  @media screen and (max-width:440px) {
      }

      >svg{
        margin-top: 24px;
      }

      // &::after{
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   right: -16px;
      //   width: 1px;
      //   height: 10%;
      //   background-color: #989898;
      // }

      // &:nth-of-type(3){
      //   &::after{
      //     width: 0;
      //   }
      // }
    }

    &-target{
      font-size: 16px;
      font-weight: 600;
      color: #252528;
    }

    &-exText{
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 32px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 4px;
      color: #252528;
    }

    &-btn{
      position: relative;
      display: flex;
      margin-top: 48px;
      justify-self: center;
      align-items: center;
      gap: 8px;
      padding: 16px 24px;
      margin-inline: auto;
      background-color: #252528;
      border-radius: 100vmax;

      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -40vw;
        translate: 0 -50%;
        height: 1px;
        width: 100vw;
        background-color: #9b9b9f;
        z-index: -1;

        @media screen and (max-width:440px) {
          width: 10000px;
          left: -30vw;
        }
      }

      &-label{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #fff;
      }
    }
  }
</style>
