---
import Layout from '../layouts/Layout.astro';
import ArticleList from '../components/ArticleList.astro';

import { getBlogs } from '../library/microcms';
const response = await getBlogs({
  fields: ["id", "title", "thumbnail", "tag", "publishedAt", "article_name", "article_summary", "article_link"]
});
const articles = response.contents;
---

<Layout 
  title="ミラテル"
	URL = "https://miratel.netlify.app/"
	sns_img = "../public/images/me.JPG"
	ogptitle="ミラテル | AI未来洞察" 
	type="website" 
	description="ミラテル | AIが既存の記事やニュースをもとに、それが実現、進化していった先にどういった未来が待ち受けているかを予想し、極端な未来のシナリオを推測します。" 
>
	<main class="main">
		<div class="pan">
			<ul class="pan-list">
				<li class="pan-item">
					<a href="" class="pan-item-link">記事トップ</a>
				</li>
			</ul>
		</div>
		<div class="main-inner">
			<h2 class="title">未来洞察記事</h2>
			<div class="category">
				<p class="category-label">カテゴリー</p>
				<ul class="category-list">
					<li class="category-list-item">
						<button class="category-list-item-link">
							<p class="category-list-item-label">Technology</p>
						</button>
					</li>
					<li class="category-list-item">
						<button class="category-list-item-link">
							<p class="category-list-item-label">Society</p>
						</button>
					</li>
					<li class="category-list-item">
						<button class="category-list-item-link">
							<p class="category-list-item-label">Energy</p>
						</button>
					</li>
					<li class="category-list-item">
						<button class="category-list-item-link">
							<p class="category-list-item-label">Environment</p>
						</button>
					</li>
					<li class="category-list-item">
						<button class="category-list-item-link">
							<p class="category-list-item-label">Education</p>
						</button>
					</li>
					<li class="category-list-item">
						<button class="category-list-item-link">
							<p class="category-list-item-label">Economy</p>
						</button>
					</li>
				</ul>
			</div>
			<h2 class="search-word">新着記事</h2>
			<ul class="filter-list">
				<li class="filter-list-item">
					<button class="filter-list-item-link active-filter">
						<p class="filter-list-item-label">追加日</p>
					</button>
				</li>
				<li class="filter-list-item">
					<button class="filter-list-item-link">
						<p class="filter-list-item-label">更新日</p>
					</button>
				</li>
				<li class="filter-list-item">
					<button class="filter-list-item-link">
						<p class="filter-list-item-label">コメント数</p>
					</button>
				</li>
			</ul>
			<div class="article">
				<ArticleList {articles} />
			</div>
		</div>
		<div class="r-container">
			<div class="r-inner">
				<div class="r-box">
					<p class="r-box-label">おすすめ</p>
					<ul class="r-box-list">
						<li class="r-box-list-item">
							<a href="" class="r-box-list-item-link">
								<img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
								<div class="r-box-list-item-textBox">
									<h3 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h3>
								</div>
							</a>
						</li>
						<li class="r-box-list-item">
							<a href="" class="r-box-list-item-link">
								<img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
								<div class="r-box-list-item-textBox">
									<h3 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h3>
								</div>
							</a>
						</li>
						<li class="r-box-list-item">
							<a href="" class="r-box-list-item-link">
								<img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
								<div class="r-box-list-item-textBox">
									<h3 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h3>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="r-box">
					<p class="r-box-label">お知らせ</p>
					<ul class="r-box-list">
						<li class="r-box-list-item">
							<a href="" class="r-box-list-item-link">
								<img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
								<div class="r-box-list-item-textBox">
									<h3 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h3>
								</div>
							</a>
						</li>
						<li class="r-box-list-item">
							<a href="" class="r-box-list-item-link">
								<img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
								<div class="r-box-list-item-textBox">
									<h3 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h3>
								</div>
							</a>
						</li>
						<li class="r-box-list-item">
							<a href="" class="r-box-list-item-link">
								<img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
								<div class="r-box-list-item-textBox">
									<h3 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h3>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		position: relative;
		// top: 104px;
		// margin-left: 304px;
		width: calc(80vw - 96px);
		max-width: calc(100% - 2rem);
		color: #252528;
		font-size: 20px;
		line-height: 1.6;
	}

	.main{
		width: calc(100% - 241px);
		display: flex;
		justify-content: space-between;
		max-width: 1600px;
		// margin-inline: auto;
		margin-left: 241px;
		padding-inline: 40px;
		gap: 40px;

		@media screen and (min-width:2120px) {
      margin-inline: auto;
    }

		@media screen and (max-width:1120px) {
      flex-direction: column;
			// gap: 80px;
    }

		@media screen and (max-width:834px) {
			top: 0;
      margin-inline: auto;
			margin-top: 120px;
			padding-inline: 24px;
			width: calc(100% - 32px);
    }

		@media screen and (max-width:440px) {
			margin-top: 0;
			padding-inline: 16px;
			width: 100%;
    }
		
		&-inner{
			width: 100%;
			position: relative;
			top: 104px;
			width: 100%;
			margin-inline: auto;
			margin-bottom: 80px;

			@media screen and (max-width:834px) {
				top: 0;
      }

		@media screen and (max-width:440px) {
			margin-top: 80px;
    }
		}
	}

	.pan{
		position: absolute;
		top: 40px;
		z-index: 99;

		@media screen and (max-width:834px) {
			// display: none;
			top: 88px;
    }

		&-list{
			display: flex;
			align-items: center;
			gap: 24px;
			// border: 1px solid #252528;
		}

		&-item{
			position: relative;
			// background-color: #252528;
			border: 1px solid #252528;
		  border-radius: 8px;

			&:first-of-type::before{
				content: "";
			}

			&::before{
				content: ">";
				position: absolute;
				top: 50%;
				left: -18px;
				transform: translateY(-50%);
			}

			&-link{
				display: block;
				padding: 8px 16px;
				font-size: 12px;
				font-weight: 600;
				color: #252528;
			}
		}
	}

	.title{
		font-size: 16px;
		font-weight: 500;
		color: #252528;

		@media screen and (max-width:834px) {
			font-size: 20px;
    }

		@media screen and (max-width:440px) {
			display: none;
    }
	}

	.category{
		width: 100%;
		margin-top: 16px;
		display: none;

		@media screen and (max-width:834px) {
			display: block;
			margin-top: 64px;
    }

		&-label{
			font-size: 14px;
			font-weight: 600;
			color:#252528;
		}

		&-list{
			margin-top: 8px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 8px;

			&-item{

				&-link{
					padding: 8px 16px;
					border-radius: 100px;
					border: 1px solid #252528;

					@media screen and (max-width:440px) {
            padding: 6px 12px;
          }
				}

				&-label{
					font-size: 12px;
					font-weight: 600;
				}
			}
		}
	}

	.search-word{
		padding: 8px 0 8px;
		font-size: 40px;
		font-weight: 600;
		color: #252528;

		@media screen and (max-width:440px) {
      padding: 24px 0 8px;
			font-size: 24px;
    }
	}

	.filter-list{
		// position: sticky;
		top: 24px;
		// display: flex;
		display: none;
		gap: 8px;

		// @media screen and (max-width:834px) {
		// 	display: flex;
		// 	top: 80px;
    // }

		&-item{
			margin-top: 0;
			cursor: pointer;

			@media screen and (max-width:834px) {
				// margin-top: 0;
      }

			>.active-filter{
			  border: 1px solid #252528;
		  }

			&-link{
				padding: 8px 16px;
			  border-radius: 100px;

				@media screen and (max-width:440px) {
          padding: 6px 12px;
        }
			}

			&-label{
				font-size: 12px;
				font-weight: 500;   
			}
		}
	}

	.article{
		margin-top: 8px;
		width: 100%;

		@media screen and (max-width:834px) {
			// margin-top: 16px;
    }

		&-list{
			display: flex;
			flex-wrap: wrap;
			column-gap: 24px;
			row-gap: 32px;

			@media screen and (max-width:834px) {
        width: 100%;
      }

			@media screen and (max-width:440px) {
        row-gap: 16px;
      }
		}

		&-item{
			width: calc((100% - 88px) / 3);

			@media screen and (max-width:1512px) {
        width: calc((100% - 64px) / 2);
      }

			@media screen and (max-width:834px) {
        width: calc((100% - 24px) / 2);
      }

			@media screen and (max-width:440px) {
        width: 100%;
      }

			// @media screen and (max-width:1120) {
      //   width: calc((100% - 64px) / 2);
      // }

			&-link{
				display: block;
			}

			&-img{
				width: 100%;
				aspect-ratio: 16/9;
				object-fit: cover;
				border-radius: 4px;
			}

			&-tagList{
				display: flex;
				gap: 16px;
				margin-top: 8px;

				&-item{
					font-size: 12px;
					font-weight: bold;
					color: #252528;
				}
			}

			&-title{
				font-size: 20px;
				font-weight: 500;
				color: #252528;
				margin-top: 8px;

				@media screen and (max-width:440px) {
          font-size: 20px;
        }
			}

			&-footer{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 8px;
			}

			&-iconList{
				display: flex;
				align-items: center;
				gap: 16px;

				&-item{
					display: flex;
					gap: 4px;
					align-items: center;

					&-sum{
						font-size: 12px;
						font-weight: 500;
						color: #636366;
					}
				}
			}

			&-timestamp{

				&-label{
					font-size: 12px;
					font-weight: 400;
					color: #636366;
				}
			}
		}
	}

	.box{
		width: 380px;
		border-radius: 32px;
		border: 1px solid #252528;
		margin-inline: auto;
	}

	.r-container{
		position: relative;
		top: 104px;
		overflow: hidden;
		width: 100%;
		max-width: 280px;
		// margin-left: auto;
		// margin-right: 10px;

		@media screen and (max-width:1120px) {
      max-width: calc(100% - 24px);
			// margin-right: 24px;
    }

		@media screen and (max-width:834px) {
      max-width: 100%;
			// margin-right: 24px;
    }
		
	}

	.r-inner{
		display: flex;
		flex-direction: column;
		gap: 40px;
		// align-items: center;
	}

	.r-box{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.r-box-label{
		font-size: 14px;
		font-weight: 600;
		color: #252528;
	}

	.r-box-list{
		margin-top: 16px;
		display: flex;
		flex-direction: column;
		gap: 16px;

		&-item{
			width: 100%;

			&-link{
				display: flex;
				gap: 12px;
			}

			&-img{
				width: 40%;
				// height: 120px;
				aspect-ratio: 1/1;
				object-fit: cover;
				border-radius: 4px;

				@media screen and (max-width:1120px) {
          width: 160px;
					aspect-ratio: 16/9;
        }
			}

			&-title{
				font-size: 12px;
				font-weight: 600;
				color: #252528;
				padding: 4px 0;
				letter-spacing: .05em;

				@media screen and (max-width:1120px) {
          font-size: 14px;
        }
			}
		}
	}
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const tagButtons = document.querySelectorAll<HTMLButtonElement>('.header-aside-tagList-item-link');
    const articles = document.querySelectorAll<HTMLLIElement>('.article-item');
    const searchWordElement = document.querySelector<HTMLHeadingElement>('.search-word'); // h2の要素取得

    tagButtons.forEach((button) => {
      button.addEventListener('click', () => {
        const selectedTag = button.getAttribute('data-tag');

        // タイトルを変更
        if (searchWordElement && selectedTag) {
          searchWordElement.textContent = `${selectedTag}`;
        }

        // すべてのタグを非表示
        articles.forEach((article) => {
          (article as HTMLElement).style.display = 'none';
        });

        // 選択されたタグの記事を表示
        articles.forEach((article) => {
          if (article.getAttribute('data-tag') === selectedTag) {
            (article as HTMLElement).style.display = 'block';
          }
        });
      });
    });
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const categoryButtons = document.querySelectorAll<HTMLButtonElement>('.category-list-item-link');
    const articles = document.querySelectorAll<HTMLLIElement>('.article-item');
    const searchWordElement = document.querySelector<HTMLHeadingElement>('.search-word'); // h2の要素取得

    categoryButtons.forEach((button) => {
      button.addEventListener('click', () => {
        const selectedCategory = button.textContent?.trim();

        // タイトルをカテゴリ名に変更
        if (searchWordElement && selectedCategory) {
          searchWordElement.textContent = `${selectedCategory}`;
        }

        // すべての記事を非表示
        articles.forEach((article) => {
          (article as HTMLElement).style.display = 'none';
        });

        // 選択されたカテゴリの記事を表示
        articles.forEach((article) => {
          if (article.getAttribute('data-tag') === selectedCategory) {
            (article as HTMLElement).style.display = 'block';
          }
        });
      });
    });
  });
</script>
