---
import { getBlogs} from '../library/microcms'
const response = await getBlogs({ fields: ["id", "title", "thumbnail", "tag", "publishedAt", "article_name", "article_summary", "article_link"] })

---
<ul class="article-list">
  {response.contents.map((content =>
    <li class="article-item">
      <a href={"../"+content.id} class="article-item-link">
        <img class="article-item-img"  src={content.thumbnail.url} alt="" />
        <ul class="article-item-tagList">
          <li class="article-item-tagList-item">{content.tag}</li>
        </ul>
        <h3 class="article-item-title">{content.title}</h3>
        <div class="article-item-footer">
          <ul class="article-item-iconList">
            <li class="article-item-iconList-item">
              <svg width="20" height="20" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 5.04165L10.505 5.51832C10.5692 5.58486 10.6461 5.63778 10.7311 5.67393C10.8162 5.71008 10.9076 5.72871 11 5.72871C11.0925 5.72871 11.1839 5.71008 11.269 5.67393C11.354 5.63778 11.4309 5.58486 11.495 5.51832L11 5.04165ZM8.64054 16.7952C7.25087 15.6997 5.73196 14.63 4.52654 13.2733C3.34587 11.9423 2.52087 10.3904 2.52087 8.37557H1.14587C1.14587 10.8194 2.16337 12.6839 3.49896 14.1863C4.80979 15.6622 6.48179 16.8447 7.78896 17.875L8.64054 16.7952ZM2.52087 8.37557C2.52087 6.40474 3.63462 4.75107 5.15537 4.05532C6.63304 3.37974 8.61854 3.55849 10.505 5.51832L11.495 4.5659C9.25837 2.24032 6.65871 1.85624 4.58337 2.80499C2.55387 3.73357 1.14587 5.88957 1.14587 8.37557H2.52087ZM7.78896 17.875C8.25921 18.2453 8.76337 18.6395 9.27396 18.9383C9.78454 19.2372 10.3675 19.4792 11 19.4792V18.1042C10.7159 18.1042 10.3822 17.9942 9.96787 17.7512C9.55262 17.5092 9.12271 17.1756 8.64054 16.7952L7.78896 17.875ZM14.2111 17.875C15.5183 16.8437 17.1903 15.6631 18.5011 14.1863C19.8367 12.683 20.8542 10.8194 20.8542 8.37557H19.4792C19.4792 10.3904 18.6542 11.9423 17.4735 13.2733C16.2681 14.63 14.7492 15.6997 13.3595 16.7952L14.2111 17.875ZM20.8542 8.37557C20.8542 5.88957 19.4471 3.73357 17.4167 2.80499C15.3414 1.85624 12.7435 2.24032 10.505 4.56499L11.495 5.51832C13.3815 3.5594 15.367 3.37974 16.8447 4.05532C18.3655 4.75107 19.4792 6.40382 19.4792 8.37557H20.8542ZM13.3595 16.7952C12.8774 17.1756 12.4475 17.5092 12.0322 17.7512C11.617 17.9932 11.2842 18.1042 11 18.1042V19.4792C11.6325 19.4792 12.2155 19.2362 12.7261 18.9383C13.2376 18.6395 13.7409 18.2453 14.2111 17.875L13.3595 16.7952Z" fill="#636366"/>
              </svg>
              <p class="article-item-iconList-item-sum">120</p>
            </li>
            <li class="article-item-iconList-item">
              <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.59195 15.304C2.34395 9.787 6.40296 3.75 12.36 3.75H12.681C14.8206 3.75053 16.8724 4.60072 18.3853 6.11365C19.8982 7.62658 20.7484 9.6784 20.749 11.818C20.7492 12.9976 20.5171 14.1657 20.0658 15.2556C19.6145 16.3454 18.9529 17.3357 18.1188 18.1698C17.2847 19.0039 16.2944 19.6655 15.2045 20.1168C14.1147 20.5681 12.9466 20.8003 11.767 20.8H3.94695C3.79158 20.8001 3.63999 20.752 3.51314 20.6623C3.38629 20.5725 3.29045 20.4456 3.23885 20.2991C3.18725 20.1525 3.18245 19.9935 3.2251 19.8441C3.26775 19.6947 3.35576 19.5622 3.47695 19.465L5.44795 17.882C5.4901 17.8482 5.52018 17.8018 5.5337 17.7495C5.54722 17.6972 5.54345 17.642 5.52295 17.592L4.59195 15.304ZM12.36 5.25C7.46695 5.25 4.13396 10.207 5.97995 14.738L6.91196 17.027C7.05396 17.3759 7.07957 17.7614 6.98498 18.126C6.89039 18.4907 6.68066 18.8151 6.38696 19.051L6.07796 19.3H11.767C12.7496 19.3003 13.7226 19.1069 14.6305 18.731C15.5384 18.3551 16.3633 17.804 17.0581 17.1092C17.7529 16.4143 18.304 15.5894 18.68 14.6815C19.0559 13.7737 19.2492 12.8006 19.249 11.818C19.2484 10.0762 18.5563 8.40593 17.3246 7.17431C16.093 5.94268 14.4227 5.25053 12.681 5.25H12.36Z" fill="#636366"/>
              </svg>											
              <p class="article-item-iconList-item-sum">80</p>
            </li>
          </ul>
          <p class="article-item-timestamp"><time class="article-item-timestamp-label" datetime="">{content.publishedAt.substring(0, 10)}</time></p>
        </div>
      </a>
    </li>

  ))}
</ul>

<style lang="scss">
.article{
		// margin-top: 16px;
		// width: 100%;

		@media screen and (max-width:834px) {
			// margin-top: 16px;
    }

		&-list{
			display: flex;
			flex-wrap: wrap;
			column-gap: 24px;
			row-gap: 32px;

			@media screen and (max-width:834px) {
        width: 100%;
      }

			@media screen and (max-width:440px) {
        row-gap: 16px;
      }
		}

		&-item{
			width: calc((100% - 88px) / 3);

			@media screen and (max-width:1512px) {
        width: calc((100% - 64px) / 2);
      }

			@media screen and (max-width:834px) {
        width: calc((100% - 24px) / 2);
      }

			@media screen and (max-width:440px) {
        width: 100%;
      }

			// @media screen and (max-width:1120) {
      //   width: calc((100% - 64px) / 2);
      // }

			&-link{
				display: block;
			}

			&-img{
				width: 100%;
				aspect-ratio: 16/9;
				object-fit: cover;
				border-radius: 4px;
			}

			&-tagList{
				display: flex;
				gap: 16px;
				margin-top: 8px;

				&-item{
					font-size: 12px;
					font-weight: bold;
					color: #252528;
				}
			}

			&-title{
				font-size: 20px;
				font-weight: 500;
				color: #252528;
				margin-top: 8px;

				@media screen and (max-width:440px) {
          font-size: 16px;
        }
			}

			&-footer{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 8px;
			}

			&-iconList{
				display: flex;
				align-items: center;
				gap: 16px;

				&-item{
					display: flex;
					gap: 4px;
					align-items: center;

					&-sum{
						font-size: 12px;
						font-weight: 500;
						color: #636366;
					}
				}
			}

			&-timestamp{

				&-label{
					font-size: 12px;
					font-weight: 400;
					color: #636366;
				}
			}
		}
	}
</style>
